.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .container-left {
        height: 100%;
        width: 30%;
        .searchInput {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    
    .container-right {
        height: 100%;
        width: 70%;
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
        }
    }
}
a{
    font-size: 20px;
}

.pagination-center {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
  }